<html ng-app = "listaTelefonica">
    <head>
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="lib/boostrap/bootstrap.css">
        <style>
            .jumbotron {
                width: 50%;
                text-align: center; 
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }

            .table {
                margin-top: 20px;
                table-layout:auto;
            }

            .form-control {
                margin-bottom: 5px;
            }

            .selecionado {

                background-color: greenyellow;
            }

            .negrito {
                font-weight: bold;
            }

        </style>
        <script src="lib/angular/angular.js"></script>
        <script>
            angular.module("listaTelefonica", []); //Criou o Módulo, mas não vai ser reconhecido pois não está listado
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
                $scope.app = "Lista Telefonica"; 

                $scope.contatos = [
                    {nome: "Kaori", telefone: "11 9 6933 9786", cor: "purple"},
                    {nome: "Tatiana", telefone: "38 9 9916 3532", cor: "blue"},
                    {nome: "Brenda", telefone: "11 9 6870 4423", cor: "black"},
                ]; 

                $scope.operadoras = [
                    {nome: "Oi", codigo: 14, categoria: "Celular"},
                    {nome: "Vivo", codigo: 15, categoria: "Celular"},
                    {nome: "Tim", codigo: 41, categoria: "Celular"},
                    {nome: "GVT", codigo: 25, categoria: "Fixo"},
                    {nome: "Embratel", codigo: 21, categoria: "Fixo"}
                ]; 

                $scope.classe = "selecionado";
                
                // Funções 
                $scope.adicionarContato = function(contato){
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato; 
                }; 

                $scope.apagarContatos = function(contatos){
                    $scope.contatos = contatos.filter(function (contato) {
                        if(!contato.selecionado)
                            return contato; 
                    });
                }; 

                $scope.isContatoSelecionado = function (contatos) {
                    return contatos.some(function (contato){
                        return contato.selecionado;
                    });
                }; 
            }); //localizando o módulo e registrando o módulo com o conttoler, passando o $scope que é como uma ponte entre a view e controller
        </script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <!-- <h4 ng-bind="app"></h4> --> 
            <!-- ou -->
            <h4>{{app}}</h4>
            <table ng-show="contatos.length > 0" class="table">
                <thead>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                    <th>***</th>
                </thead>
                <tbody ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <td><div style=" width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                </tbody>
            </table>
            <hr/>

            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma Operadora</option>
            </select>
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone"> Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato(s)</button>
            <!--{{contatos}}-->
        </div>
        <div ng-include="'footer.html'"></div>
    </body>
</html>